<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8"/>
<title>Add a new Patient</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add a new patient</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/patient/validate}" th:object="${patientDTO}" method="post" class="form-horizontal" style="width: 100%">
			<div class="border border-secondary p-3 rounded">
				<p>
					<label for="id" class="col-form-label">Type</label>
					<input type="number" id="id" name="id" class="form-control" placeholder="Id" th:field="*{id}" autofocus/>
					<p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
				<p>
					<label for="firstName" class="col-form-label">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" placeholder="First Name" th:field="*{firstName}" />
					<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
				</p>
				<p>
					<label for="Last Name" class="col-form-label">Last Name</label>
					<input type="text" id="Last Name" name="lastName" class="form-control" placeholder="Last Name" th:field="*{lastName}" />
					<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
				</p>
				<p>
					<label for="Gender" class="col-form-label">Gender</label>
					<input type="text" id="Gender" name="gender" class="form-control" placeholder="Gender : MALE or FEMALE" th:field="*{gender}" />
				<p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
				</p>
				<p>
					<label for="Birth Date" class="col-form-label">Birth Date (format YYYY-MM-ddTHH:mm:ssZ)</label>
					<input type="text" id="Birth Date" name="birthDate" class="form-control" placeholder="Birth Date" th:field="*{birthDate}" />
				<p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>
				</p>
				<p>
					<label for="Phone Number" class="col-form-label">Phone Number</label>
					<input type="text" id="Phone Number" name="phoneNumber" class="form-control" placeholder="Phone Number format xxx-xxx-xxxx" th:field="*{phoneNumber}" />
				<p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
				</p>
				<p>
					<input type="submit" value="Add new Patient" class="btn btn-primary" />
				</p>
			</div>
		</form>
	</div>

</div>
</body>
</html>