<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8"/>
<title>Add a patient review</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add a new medical review</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/patient/addReview/{id}(id=${medicalReview.patientId})}" th:object="${medicalReview}" method="post" class="form-horizontal" style="width: 100%">
			<div class="border border-secondary p-3 rounded">
				<p>
					<label for="patientId" class="col-form-label">Patient ID</label>
					<input type="number" readonly id="patientId" name="patientId" class="form-control" placeholder="Patient ID" th:field="*{patientId}" autofocus/>
					<p th:if="${#fields.hasErrors('patientId')}" th:errors="*{patientId}"></p>
				<p>
					<label for="date" class="col-form-label">Date</label>
					<input type="text" readonly id="date" name="date" class="form-control" placeholder="Date" th:field="*{date}" />
					<p th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
				</p>
				<p>
					<label for="notes" class="col-form-label">Notes</label>
					<input type="text" id="notes" name="lastName" class="form-control" placeholder="Notes" th:field="*{notes}" />
					<p th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}"></p>
				</p>
				<p>
					<input type="submit" value="Save" class="btn btn-primary" />
				</p>
			</div>
		</form>
	</div>

</div>
</body>
</html>