<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8"/>
<title>Access a patient</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Patient infos</h2>
	</div>

	<div class="row">
		<form th:action="@{/patient/update/{id}(id=${patientDTO.id})}" th:object="${patientDTO}" method="post" class="form-horizontal" style="width: 100%">
			<div class="border border-secondary p-3 rounded">
				<p>
					<label for="id" class="col-form-label">Type</label>
					<input type="number" id="id" name="id" class="form-control" placeholder="Id" th:field="*{id}" autofocus/>
					<p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
				<p>
					<label for="firstName" class="col-form-label">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" placeholder="First Name" th:field="*{firstName}" />
					<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
				<p>
					<label for="Last Name" class="col-form-label">Last Name</label>
					<input type="text" id="Last Name" name="lastName" class="form-control" placeholder="Last Name" th:field="*{lastName}" />
					<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
				<p>
					<label for="Gender" class="col-form-label">Gender</label>
					<input type="text" id="Gender" name="gender" class="form-control" placeholder="Gender" th:field="*{gender}" />
				<p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
				<p>
					<label for="Birth Date" class="col-form-label">Birth Date</label>
					<input type="text" id="Birth Date" name="birthDate" class="form-control" placeholder="Birth Date" th:field="*{birthDate}" />
				<p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>
				<p>
					<label for="Phone Number" class="col-form-label">Phone Number</label>
					<input type="text" id="Phone Number" name="phoneNumber" class="form-control" placeholder="Phone Number" th:field="*{phoneNumber}" />
				<p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
				<p>
					<input type="submit" value="Update Patient Infos" class="btn btn-primary" />
				</p>
			</div>
		</form>
		<p></p>
		<form>
			<div class="row">
				<div>
					<h2>Reviews</h2>
					<a th:href="@{/patient/addReview/{id}(id=${patientDTO.id})}" th:object="${patientDTO}">
						<span class="btn btn-primary btn-sm">Add a New Review</span>
					</a>
				</div>
				<table class="table table-bordered">
					<thead>
					<tr>
						<th>Date</th>
						<th>Note</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="medicalReview: ${medicalReviews}">
						<td><span th:text="${medicalReview.date}"></span></td>
						<td><span th:text="${medicalReview.notes}"></span></td>
						<td class="row d-flex justify-content-center">
							<a  th:href="@{/patient/editReview/{patientId}/{noteId}(patientId=${medicalReview.patientId},noteId=${medicalReview.noteId})}" th:object="${medicalReview}">
								<span class="btn btn-link">Edit</span>
							</a>
						</td>
					</tr>
					</tbody>
				</table>
<!--				<div class="form-group row" th:each="medicalReview: ${medicalReviews}">-->
<!--					<label class="col-sm-2 col-form-label" for="date">Date</label>-->
<!--					<div class="col-sm-10">-->
<!--						<input type="text" name="date" class="form-control" id="date" th:field="${medicalReview.date}">-->
<!--					</div>-->
<!--					<label class="col-sm-2 col-form-label" for="note">Note</label>-->
<!--					<div class="col-sm-10">-->
<!--						<input type="text" name="note" class="form-control" id="note" th:field="${medicalReview.notes}">-->
<!--					</div>-->
<!--				</div>-->
			</div>
		</form>
	</div>

</div>
</body>
</html>