<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8"/>
<title>Search a patient</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Search a patient</h2>
	</div>

	<div class="row">
		<form th:action="@{/patient/info/search}" method="post" th:object="${patientDTO}" class="form-horizontal" style="width: 100%">
			<div class="border border-secondary p-3 rounded">
<!--				<p>-->
<!--					<label for="id" class="col-form-label">Type</label>-->
<!--					<input type="number" id="id" name="id" class="form-control" placeholder="Id" th:field="*{id}" autofocus/>-->
<!--					<p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>-->
<!--				<p>-->
					<label for="firstName" class="col-form-label">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" th:field="*{firstName}" />
				</p>
				<p>
					<label for="Last Name" class="col-form-label">Last Name</label>
					<input type="text" id="Last Name" name="lastName" class="form-control" th:field="*{lastName}" />
				</p>
				<p>
					<input type="submit" value="Search a patient" class="btn btn-primary" />
				</p>
				<h2>Or add a new patient</h2>
				<a th:href="@{/patient/add}" class="btn btn-success">Add a new patient</a>
			</div>
		</form>
	</div>

</div>
</body>
</html>